.bgOnion {
    background-image: url('../../../assets/banner/banner-1.png');
    background-position: center center;
  }
  
  .bgStroberry {
    background-image: url('../../../assets/banner/banner-2.png');
    background-position: center center;
  }
  
  .bgVegetable {
    background-image: url('../../../assets/banner/banner-3.png');
    background-position: center center;
  }

  #categoriesImg{
    width: 120px;
  }