@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";


.blurNav {
  z-index: 5;
}

.font-family-primary {
  font-family: "Quicksand", sans-serif;
}

.font-family-secondary {
  font-family: "Lato", sans-serif;
}

.bgLeaf {
  background-image: url('./src/assets/banner/banner-4.png');
  background-position: center;
}

#stay-home {
  background-image: url('./src/assets/banner/banner-10.png');
  background-position: center center;
  background-size: contain;
}

.daily-best-sells {
  grid-template-columns: 1fr 3fr;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444; 
  display: flex;
  justify-content: center;
  align-items: center;
}
 

@keyframes slideUp {
  0% { transform: translateY(0%); }
  33% { transform: translateY(-100%); }
  66% { transform: translateY(-200%); }
  100% { transform: translateY(0%); }
}

.animate-slideUp {
  animation: slideUp 200s linear infinite;
}