#bgLeaf {
  background-image: url('../../../assets/banner/banner-4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


 

.dailyproductImg {
  width: 80%;
}